[Unit]
Description=GenieACS NBI
After=network.target mongod.service
Requires=mongod.service

[Service]
User=genieacs
EnvironmentFile=/opt/genieacs/genieacs.env
ExecStart=/usr/bin/node /opt/genieacs/dist/bin/genieacs-nbi
Restart=on-failure
RestartSec=5
KillMode=process
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
